@model CardSingleUpdate

@{
    ViewData["Title"]= "Edit Card Page!";
}



<div class="detailsContainer">
    <div>
        <h1 style="text-align: center;">@Model.Year @Model.CardName - @Model.Parallel</h1>
        <h4 style="text-align: center;">Card Details</h4>
        <hr />
    </div>
    <div class="detailsData">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="CardName" class="control-label">Card Name:</label>
                <input asp-for="CardName" class="form-control" />
                <span asp-validation-for="CardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parallel" class="control-label">Parallel:</label>
                <input asp-for="Parallel" class="form-control" />
                <span asp-validation-for="Parallel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Year:</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityPurchased" class="control-label">Quantity Purchased:</label>
                <input asp-for="QuantityPurchased" class="form-control" />
                <span asp-validation-for="QuantityPurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityAvailable" class="control-label">Quantity Available:</label>
                <input asp-for="QuantityAvailable" class="form-control" />
            </div>
                <span asp-validation-for="QuantityAvailable" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Value:</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label">Purchase Price:</label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label">Sale Price:</label>
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label">Comments:</label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardSetId" class="control-label">Card Set Id:</label>
                <input asp-for="CardSetId" class="form-control" />
                <span asp-validation-for="CardSetId" class="text-danger"></span>
            </div>
            <hr />
            <div class="detailsFooter">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back To List</a>
            </div>
        </form>
    </div>
</div>