@{
    ViewData["Title"] = "CardShop Inventory";
}

<div class="text-center">
    <h1 class="display-4">Card Shop Inventory Management Systems</h1>
    <p>Trading and sports cards have been popular for several decades, and their popularity has fluctuated over time. The first trading cards appeared in the late 1800s and early 1900s. These cards often featured famous actors, athletes, or politicians. Sports cards began to be produced in the 1930s, featuring baseball players in particular. In the 1970s, trading and sports cards became increasingly popular, with companies like Topps, Fleer, and Donruss dominating the market. The mid to late 1980s saw a massive surge in the popularity of trading and sports cards. This was partly due to increased media coverage of baseball and basketball, which led to more interest in collecting cards featuring these athletes. In the early 1990s, the industry hit its peak, with sales totaling more than $1.2 billion. However, overproduction of cards and a decrease in overall interest led to a decline in sales and popularity. The early 2000s saw a resurgence in the popularity of trading and sports cards, with the introduction of new types of cards, such as autographed cards and memorabilia cards. In recent years, there has been a continued interest in sports card collecting, with modern-day stars like LeBron James and Patrick Mahomes driving sales. Additionally, the pandemic has led to an increase in demand for cards, as people seek out new hobbies and investments.</p>
    <hr/> 
<div>
    <h1 class="display-6">Popular Card Sets</h1>
    <br>    
    <div class="d-flex justify-content-around">
        <div class="card">
            <h5>1986 Fleer Basketball</h5>
            <hr>
            <img src="/images/86FLEER.jpg" class="rounded mx-auto d-block" alt="1952 Topps" width="250px" height="250px">
            <br>
            <p>1986 Fleer basketball cards have become some of the hobbies most popular collectibles, driven by Michael Jordan’s iconic rookie card.</p>
        </div>
        <div class="card">
            <h5>1952 Topps Baseball</h5>
            <hr>
            <img src="/images/1952Topps.jpg" class="rounded mx-auto d-block" alt="1952 Topps" width="250px" height="250px">
            <br>
            <p>1952 Topps baseball cards are arguably the most expensive sets existing today. The top card is the iconic Mickey Mantle rookie card.</p>
        </div>
        <div class="card">
            <h5>2017 Panini Prizm Football</h5>
            <hr>
            <img src="/images/2017prizm.jpg" class="rounded mx-auto d-block" alt="1952 Topps" width="250px" height="250px">
            <br>
            <p>The 2017 Panini Prizm is one of the most sought after modern sets around. The set is highlighted by Patrick Mahomes rookie card.</p>
        </div>
    </div>
    <hr>
    <h1 class="display-6">Popular Card Singles</h1>   
    <br>
    <div class="d-flex justify-content-around">
        <div class="card">
            <h5>1986 Fleer Michael Jordan</h5>
            <hr>
            <img src="/images/1986jordan.png" class="rounded mx-auto d-block" alt="1952 Topps" width="250px" height="350px">
            <br>
            <p>The 1986 Fleer Michael Jordan is one of the most iconic basketball cards around. With a population count of 317, this card has recent sales of $260,000+.</p>
        </div>
        <div class="card">
            <h5>1952 Topps Mickey Mantle</h5>
            <hr>
            <img src="/images/1952mantle.png" class="rounded mx-auto d-block" alt="1952 Topps" width="250px" height="350px">
            <br>
            <p>Arguably, the most expensive card around today, the 1952 Topps Mickey Mantle rookie card has a population count of just 3 in PSA 10 format. Estimations for this card in PSA 10 are upwards of $30 million dollars.</p>
        </div>
        <div class="card">
            <h5>2017 Panini Prizm Patrick Mahomes</h5>
            <hr>
            <img src="/images/2017mahomes.png" class="rounded mx-auto d-block" alt="1952 Topps" width="250px" height="350px">
            <br>
            <p>The highlighted card of the 2017 Panini Prizm set is the Patrick Mahomes rookie card. The Gold Vinyl parallel numbered to 5 has recent sales of $570,000+.</p>
        </div>
    </div>
</div>
